ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.custom-shape-divider-top-1652017915 {
  position: absolute;
  left: 0;
  width: 110%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1652017915 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 73px;
}

.custom-shape-divider-top-1652017915 .shape-fill {
  fill: #8855DB;
}